

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 450px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.main h4 {
  text-align: center;
}

.main div {
  background-color: blue;
  width: 150px;
  height: 200px;
}

.container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}